.home-container
    .display-container
        height 450px
        background-image url('https://source.unsplash.com/random')
        background-size cover
        background-repeat no-repeat
        color white

        .display-text-container
            padding-left 72px
            padding-top 250px

            .display-title
                font-size 32px
                font-weight bold

            .display-second-title
                font-size 20px
