.header-container
    position absolute
    padding 16px 32px
    display flex
    justify-content space-between
    align-items center
    color: white
    width 100%

    .title
        margin 0
        font-size 32px
        font-weight bold

    .tab-layout
        list-style-type none
        margin 0

        li
            display inline
            margin-right 32px
            
