.header-container
    position absolute
    padding 16px 32px
    display flex
    justify-content space-between
    align-items center
    color white
    width 100%

    .title
        margin 0
        font-size 32px
        font-weight bold

    .tab-layout
        list-style-type none
        margin 0

        li
            display inline
            margin-right 32px
            position relative

            &:hover:after,&.active:after
                opacity 1
                transform: scaleX(1)
                transition: 0.2s ease-in-out

            &:after
                position absolute
                content ''
                width 100%
                left 0
                bottom -8px
                transform scaleX(0)
                opacity 0
                border-bottom 2px solid #e5404b
